
/*****************
 * global styles *
 *****************/


html, body {
	height    : 100%;
	width     : 100%;
	max-width : 100%;
}

body {
	font-family : "Didact Gothic";
	font-size   : 16px;
	font-style  : normal;
	font-weight : 400;
	line-height : 26px;
	text-align  : center;
}

hr {
	background-color : white;
	height           : 5px;
	margin           : 20px auto 25px auto;
	width            : 100px;
}

/**************
 * row styles *
 **************/

#top {
	background-color    : black;
	background-image    : url(../img/Render04_cam1.jpg);
	background-position : 50% 50%;
	background-repeat   : no-repeat;
	background-size     : auto 100%;
	min-height          : 100%;
	overflow            : hidden;
	width               : 100%;
	position            : relative;
}

#kickstarter, #cards, #games, #mail {
	color            : rgb(112, 10, 3);
	background-color : rgb(240, 235, 226);
	padding          : 20px 0;
}

#game, #features, #faq {
	color                 : white;
	background-color      : rgb(243, 245, 247);
	background-image      : url(../img/for_fon_site.jpg);
	background-repeat     : repeat;
	background-position   : 50% 50%;
	background-attachment : scroll;
	background-size       : auto auto;
	padding               : 20px 0;
}

/***************
 * top section *
 ***************/

#top .lang {
	color           : rgb(200, 200, 200);
	font-size       : 2.5vh;
	line-height     : 2.5vh;
	text-decoration : none;

	position : absolute;
	right    : 2%;
	top      : 2%;
}

#top .lang:hover {
	color : rgb(247, 86, 85);
}

#top .lang img {
	height : 1.5vh;
}

#top #pathologic-logo {
	position : absolute;
	right    : 2%;
	top      : 5%;

	height : 30%;
}

#top #studio-logo {
	position : absolute;
	left     : 2%;
	top      : 2%;

	height : 16%;
}

#top h1 {
	color       : white;
	font-family : Underdog;
	font-size   : 4.2vh;
	line-height : 4.4vh;
	text-align  : right;
	text-shadow : 0 0 4px black;

	position    : absolute;
	right       : 6%;
	top         : 80%;
}

#top h2 {
	color       : white;
	font-family : Underdog;
	font-size   : 2.5vh;
	line-height : 2.5vh;
	text-align  : right;
	text-shadow : 0 0 4px black;

	position    : absolute;
	right       : 6%;
	top         : 90%;
}

/***********************
 * kickstarter section *
 ***********************/

#kickstarter {
	padding : 40px 0;
}

#kickstarter p {
	font-family : Underdog;
	font-size   : 22px;
	line-height : 36px;
	margin      : 0 auto;
	width       : 732px;
}

#kickstarter #availability {
	margin-top : 20px;
}

#kickstarter h1 {
	font-family : Underdog;
	font-size   : 76px;
	line-height : 74px;
	margin      : 20px 0 20px 0;
}

/****************
 * game section *
 ****************/

#game h1 {
	font-family : Underdog;
	font-size   : 40px;
	line-height : 44px;
}

#game p {
	font-family : Underdog;
	font-size   : 22px;
	line-height : 36px;
	margin      : 60px auto 30px auto;
	width       : 534px;
}

/*****************
 * cards section *
 *****************/

#cards img {
	height : 512px;
}

#cards img:hover {
	box-shadow : 0 0 6px rgb(123, 118, 111);
}

#cards h1 {
	font-family : Underdog;
	font-size   : 22px;
	line-height : 36px;
	margin      : 30px 0;
}

#cards td {
	text-align : center;
}

#cards p {
	margin : 20px 0;
	width  : 346px;
}

#cards table {
	border-collapse : separate;
	border-spacing  : 30px 0;
	margin          : 0 auto;
}

/********************
 * features section *
 ********************/

#features table {
	border-collapse : separate;
	border-spacing  : 80px 0;
	margin          : 0 auto;
}

#features ul {
	list-style-position : outside;
	list-style-type     : square;
	margin              : 20px auto 60px auto;
	padding-left        : 1em;
	text-align          : left;
	width               : 395px;
}

#features h1 {
	font-family : Underdog;
	font-size   : 40px;
	line-height : 44px;
}

#features #featuresList li
{
	padding: 3.4px 0;
}

/*****************
 * games section *
 *****************/

#games h1 {
	font-family : Underdog;
	font-size   : 22px;
	line-height : 36px;
}

#games img {
	margin : 0px 20px;
	width  : 165px;
}

#games img:hover {
	background-color : rgb(203, 198, 189);
	box-shadow       : 0 0 4px rgb(203, 198, 189);
}

/***************
 * faq section *
 ***************/

#faq h1, #faq h2, #faq p {
	text-align : left;
	width      : 727px;
	margin     : 20px auto;
}

#faq h1 {
	font-family : Underdog;
	font-size   : 22px;
	line-height : 48px;
}

#faq h2 {
	font-family : Underdog;
	font-size   : 16px;
	font-weight : 700;
	line-height : 20px;
}

#faq p strong {
	font-weight : 700;
}

/****************
 * mail section *
 ****************/

#mail p {
	width  : 727px;
	margin : 20px auto;
}

/******************
 * bottom section *
 ******************/

#bottom {
	padding          : 10px 0;
	background-color : rgb(50, 50, 50);
	overflow         : auto;
}

#bottom p {
	color       : rgb(153, 153, 153);
	font-size   : 16px;
	line-height : 26px;
	margin-left : 100px;
	text-align  : left;
}

#bottom a {
	color : rgb(153, 153, 153);
}
